S3method(alpha_constants,default)
S3method(omega_constants,default)
S3method(well_response,default)
export(.nullchk)
export(alpha_constants)
export(kitplot)
export(omega_constants)
export(sensing_volume)
export(well_response)
import(kelvin)
