S3method(alpha_constants,default)
S3method(as.data.frame,owrsp)
S3method(as.data.frame,wrsp)
S3method(data.frame,owrsp)
S3method(data.frame,wrsp)
S3method(kitplot,wrsp)
S3method(lines,owrsp)
S3method(lines,wrsp)
S3method(omega_constants,default)
S3method(open_well_response,default)
S3method(plot,owrsp)
S3method(plot,wrsp)
S3method(points,owrsp)
S3method(points,wrsp)
S3method(print,owrsp)
S3method(print,summary.owrsp)
S3method(print,summary.wrsp)
S3method(print,wrsp)
S3method(summary,owrsp)
S3method(summary,wrsp)
S3method(well_response,default)
export(.in0to1)
export(.nullchk)
export(alpha_constants)
export(constants)
export(is.owrsp)
export(is.wrsp)
export(kitplot)
export(log10_ticks)
export(log2_ticks)
export(log_ticks)
export(logticks)
export(omega_constants)
export(omega_norm)
export(open_well_response)
export(sensing_volume)
export(well_response)
import(kelvin)
